.color-dark-gray {
  color: rgb(77, 76, 76);
}

.color-dark-blue {
  color: rgb(0, 0, 131);
}

.color-dark-green {
  color: #2a8861;
}

.logo {
  width: 50px;
  height: 40px;
  object-fit: cover;
}

.about-title {
  top: 200px;
}

.big-img {
  margin-left: -500;
}

.about-p {
  font-size: 1.1rem;
}

.project-img {
  width: 26.8rem;
  height: 15rem;
}