*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  font-size: 60%;
}

body {
  font-weight: 300;
  line-height: 1.6;
  position: relative;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #cccdce;
}

.card-title {
  font-size: 2.3rem;
}

i {
  font-size: 3rem;
}

.cont-text {
  font-size: 1.8rem;
}

.color-dark-gray {
  color: rgb(77, 76, 76);
}

.color-dark-blue {
  color: rgb(0, 0, 131);
}

.color-dark-green {
  color: #2a8861;
  font-size: 3rem;
}

.svg-big {
  width: 90vw;
  height: 100vh;
}

.logo {
  width: 50px;
  height: 40px;
  object-fit: cover;
}

.about-title {
  margin-top: 18%;
}

.big-img {
  margin-left: -500;
}

.project-img {
  width: 26.8rem;
  height: 18rem;
}

.contact {
  height: 75vh;
}

.bottom-illustration {
  width: 15vw;
  position: relative;
}

.bottom-logo {
  object-fit: cover;
  width: 23rem;
  height: 12rem;
}

footer {
  font-size: 1.5rem;
}