*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
}

body {
  font-weight: 300;
  line-height: 1.6;
  position: relative;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #d9dbdd;
}

i {
  font-size: 2rem;
}

.color-dark-gray {
  color: rgb(77, 76, 76);
}

.color-dark-blue {
  color: rgb(0, 0, 131);
}

.color-dark-green {
  color: #2a8861;
}

.bg-green {
  background-color: #4daa83 !important;
  border: none !important;
}

#intro {
  height: 100vh;
}

.svg-big {
  width: 90vw;
  height: 100vh;
}

.logo {
  width: 50px;
  height: 40px;
  object-fit: cover;
}

.about-title {
  margin: auto;
  position: absolute;
  top: 28vh;
}

.big-img {
  height: 100vh;
}

.project-img {
  object-fit: cover;
  width: 28rem;
}

.contact {
  height: 75vh;
}

.contact-2 {
  left: 4vw;
}

.bottom-illustration {
  width: 15vw;
  position: relative;
}

.bottom-logo {
  object-fit: cover;
  width: 23rem;
  height: 12rem;
}
